
body{
    text-align: center;
    background-color: white;
    padding:0px;
    border: 0%;

}

.navbar{
    padding-bottom: 0%;
    border: 0%;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(2, 66, 92);
  }
  
  .nav-bar li {
    float: left;
  }
  
 .nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.homebg{
    display: flex;
    flex-direction: column;
    background-image: url("../pictures/gcare-logo.JPG");
    background-size: 900px;
    height: 900px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20px;
    
    


}

.homebg h1{
    text-align: center;
    color: pink;
    padding:0px;
    border: 0%;
}

.time-line{
    font-size: 100px;
    color: brown;
    border-bottom: 5px solid pink;
    border-top: 5px solid pink ;
}




.mission h2{
    font-size: 100px;
    text-align: center;
    color: brown;
    border-top: 5px solid pink;
    

}

.mission p{
    display: block;
    font-size: 30px;
    text-align: center;
    color: brown;
    
}

.mission{
    padding-bottom: 20px;
    
}

.contribitue{
    font-size: 100px;
    text-align: center;
    color: brown;
    padding-bottom: 20px;
    border-bottom: 20px solid pink;

}

button{
    background: rgb(230, 127, 127);
    color: white;
    border: none;
    padding: 20px;
    font: inherit;
    font-size: 1.6rem;
    cursor: pointer;
    outline: inherit;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #000;
    border: 2px;
  }

  #slider {
    display: block;
    width: 700px;
    height: 400px;
    overflow: hidden;
    text-align: center;
    margin: auto;
    padding-top: 50px;
    

    
  }
  
  #slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
    
  }
  
  #slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
  }
  
  /* helper css, since we don't have images */
  .slide1 {
    background: red;
  }
  
  .slide2 {
    background: blue;
  }
  
  .slide3 {
    background: green;
  }
  
  .slide4 {
    background: purple;
  }
  
  .slide5 {
    background: pink;
  }




.contact h3{
    font-size: 80px;
    text-align: center;
    color: pink;

}

.contact p{
    display: block;
    font-size: 30px;
    text-align: center;
    color: brown;
    border-bottom: 10px solid pink;
}


.contact li{
    list-style-type: none;
}

.exco {
    display: block;
    font-size: 30px;
    text-align: center;
    color: brown;
}

.excohd{
    font-size: 50px;
    text-align: center;
    color: pink;
    padding-left: 30px;
    border: 0%;
}

.exco li{
    list-style-type: none;

}

.goal h1{
    font-size: 50px;
    text-align: center;
    color: pink;
    padding-left: 30px;
    border: 0%;
}
.goal {
    display: block;
    font-size: 30px;
    text-align: center;
    color: brown;
    border-bottom: 10px solid pink;
}

.goal p{
    display: block;
    font-size: 30px;
    text-align: center;
    color: brown;
    border-bottom: 10px solid pink;
}

.members{
    background-color: rgb(199, 135, 52);
}

.members h3{
    font-size: 50px;
    text-align: center;
    color: pink;
    border: 0%;
}

.members p{
    display: block;
    font-size: 30px;
    text-align: center;
    color: brown;
}

.members button{
    margin-bottom: 50px;
}

.members{
    border-bottom: 10px solid pink;
}

.exco img{
    height: 300px;
    width: 300px;
}


.googleform{
    padding-top: 30px;
}


.contribitue{
    font-size: 50px;
}
.donate h3{
    border-top: 20px solid pink ;
    padding-top: 10px;
    font-size: 80px;
    text-align: center;
    color: rgb(162, 57, 75);
    border: 0%;
}

footer{
    background-color: pink;
    padding: 20px;
    text-align: center;
}

@media screen and (min-width:450px) {
    .homebg{
        background-size: 730px;
        height: 850px;
        width: 480;
    }
}